@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #ffffff;
}

.navbar {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    background-color: #000000;
    padding: 10px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: 5px solid #fecf03;
}

#logo {
    max-width: 75%;
    height: 75px;
    opacity: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

#navbar_texte:hover {
    color: #fecf03;
}

#navbar_texte {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
}

/* Pour bien organiser les éléments */
.navbar .left-side {
    display: flex;
    align-items: center; 
}

.navbar .right-side {
    display: flex;
    align-items: center; 
}

label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
  

#map {
    opacity: 1;
    max-width: 100%;
    height: auto;
    display: block;

}

#titre_contact {
    text-align: center;
    color: #fecf03;
}

#adress {
    text-align: center;
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}



.insta-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px;
}

.insta-text {
    width: 50%; /* Vous pouvez ajuster la largeur du texte ici */
    font-size: 20px;
    line-height: 1.5;
    margin-right: 20px;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 200px;
}

.insta-post {
    width: 55%;
    margin-left: 100px; 
}

.formules-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* Augmente l'espace entre les formules */
    justify-content: center;
    margin-top: 20px;
}

.formule {
    border: 1px solid #fecf03;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    color: #ffffff;
}

.formule img {
    width: 100%;
    border-bottom: 1px solid #fecf03;
    margin-bottom: 15px;
    border-radius: 8px 8px 0 0;
}

.formule h2 {
    margin-top: 0;
    color: #fecf03;
}

.formule p {
    margin-bottom: 0;
    color: #ffffff;
}

